.chatContainer {
	width: 100%;
	height: 100%;
	.bgc {
		background-color: #f8f8f8;
	}
	.header {
		position: fixed;
		/* #ifdef H5 || MP */
		top: 0;
		/* #endif */
		/* #ifdef APP-PLUS */
		top: var(--status-bar-height);
		/* #endif */
		left: 0;
		width: 100%;
		height: 110upx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #ededed;
		color: #000000;
		padding: 0 10upx;
		z-index: 3;
		text {
			font-size: 36upx;
			font-weight: 520;
		}
		.header_right {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 500;
			.icon-sousuo {
				// margin-top: 8upx;
				font-size:50upx;
				margin-right: 70upx;
			}
			.icon-tianjia {
				font-size:45upx;
			}
		}
		
	}
	.chatList {
		margin-top: 110upx;
		overflow: hidden;
		width: 100%;
		/*  #ifdef H5 || MP */
		height: calc(100vh - 110upx - var(--window-bottom));
		/* #endif*/
		/*  #ifdef APP-PLUS */
		height: calc(100vh - 110upx - var(--window-bottom) - var(--status-bar-height);
		/* #endif*/
		.chat_item {
			width: 100%;
			height: 180upx;
			display: inline-block;
			padding-left: 35upx;
			.useravatar{
				width: 20%;
				height: 100%;
				float: left;
				position: relative;
				.img_bage {
					position: absolute;
					width: 20rpx;
					height: 20rpx;
					background-color: red;
					border-radius: 50%;
					top: 10rpx;
					right: 10rpx;
				}
				image {
					width: 128upx;
					height: 128upx;
					border-radius: 10upx;
					position: absolute;
					left: 50%;
					top: 50%;
					margin-left: -50%;
					margin-top: -50%;
				}
			}
			.userInfo {
				display: flex;
				float: left;
				align-items: center;
				width: 80%;
				height: 100%;
				color: rgb(211, 211, 211);
				font-size: 28upx;
				border-bottom: 1upx solid #ccc;
				padding-right: 35upx;
				
				.infocontent {
					flex: 9;
					height: 128upx;
					display: flex;
					flex-direction: column;
					justify-content:space-around;
					.userName {
						font-size: 32upx;
						font-weight: 520;
						color: #000000;
					}
					
				}
				.userDate {
					width: auto;
				}
			}
		}
	}
}